<section class="screen">
  <h1><%= name_and_device_id(screen) %></h1>
  <% if screen.url.present? %>
    <h2><%= filtered_url screen.url %></h2>
  <% end %>

  <div class="status">
    <% if screen.online? %>
      Currently online
    <% elsif screen.last_requested_at.present? %>
      Last online: <%= time_ago_in_words(screen.last_requested_at) %> ago
    <% else %>
      Never been online
    <% end %>
  </div>

  <div class="preview">
    <iframe src="<%= display_path(screen, preview: true) %>" scrolling="no"></iframe>
  </div>

  <%= link_to 'Edit screen', edit_screen_path(screen), class: 'button' %>
</section>
