<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) + " - " : "" %>Screenorama</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrap">
    <header>
      <h1><%= link_to 'Screens', root_path %></h1>

      <nav class="screens">
        <ul>
          <% screens.each do |screen| %>
            <li <%= screen_classes(screen) %>>
              <%= link_to screen_path(screen) do %>
                <span class="icon" aria-hidden="true"></span>
                <%= name_and_device_id(screen) %>
              <% end %>
            </li>
          <% end %>
          <li class="add">
            <%= link_to 'Add a new screen', new_screen_path %>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>
  </div>

</body>
</html>
